name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@6

    - uses: actions/setup-node@6
      with:
        node-version: 25.x

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run eslint on changed files
      uses: tj-actions/eslint-changed-files@v25
      with:
        config_path: '/eslint.config.mjs'
